:root {
	--width: 320px;
	--height: 240px;
}

#video {
	border: 1px solid black;
	box-shadow: 2px 2px 3px black;
	width: var(--width);
	height: var(--height);
	position: absolute;
	top: 0;
	left: 0;
  }
  
  #canvas {
	display:none;
  }
  
  .camera {
	width: 340px;
	height: 300px;
	position: relative;
	float: left;
	display: flex;
	flex-wrap: wrap;
  }

  #photo {
	  z-index: 1;
	  position: absolute;
	  display: inline-block;
  }

  #selectedFilters {
	  z-index: 2;
	  position: absolute;
	  display: inline-block;
  }

  #save {
	  display: none;
  }

  #new {
	  display: none;
  }

  #buttons {
	  width: 100%;
	  align-self: flex-end;
  }
  
  .contentarea {
	font-size: 16px;
	font-family: "Lucida Grande", "Arial", sans-serif;
	width: 760px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
  }

  #filters {
	width: 300px;
	max-height: 70px;
	overflow: scroll;
	display: flex;
	flex-wrap: nowrap;
	flex: 25%;
}
.filter {
	max-width: 70px;
}

  /* @media only screen and (max-width: 489px) {
	#filters {
		width: 300px;
		max-height: 70px;
		overflow: scroll;
		display: flex;
		flex-wrap: nowrap;
		flex: 25%;
	}
	.filter {
		max-width: 70px;
	}
  } */

  /* @media only screen and (max-width: 619px) {
	#filters {
		width: 70px;
		max-height: 300px;
		overflow: scroll;
	}
	.filter {
		max-width: 70px;
	}
  } */

  /* @media only screen and (min-width: 620px) {
	#filters {
		width: 100px;
		max-height: 300px;
		overflow: scroll;
	}
	.filter {
		max-width: 100px;
	}
  } */

  @media only screen and (max-width: 739px) {
	#output {
		position: relative;
		overflow: scroll;
		max-height: 125px;
		width: 80%;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
	  }
  }

  @media only screen and (min-width: 740px) {
	#output {
		position: relative;
		overflow: scroll;
		max-height: 300px;
		width: 180px;
	  }
  }

  .gallery {
	  display: flex;
	  max-width: 750px;
	  flex-flow: row wrap;
	  justify-content: center;
  }

  .image_div {
	  min-width: 100px;
	  max-width: 250px;
	  position: relative;
	  padding: 5px;
  }

  .gallery_img {
	  max-width: 100px;
  }

.remove {
	background-color: salmon;
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 0;
	right: 0px;
	z-index: 1;
}

@media only screen and (min-width: 620px) {
	#innerPopup {
		background-color: #fefefe;
		position: absolute;
  		left: 50%;
  		top: 50%;
  		transform: translate(-50%, -50%);
		margin: auto;
		width: 90%;
		max-width: 1000px;
	}

	#popup {
		display: none;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.4);
		width: 100%;
		height: 100%;
	}
}

@media only screen and (max-width: 619px) {
	#innerPopup {
		background-color: #fefefe;
		position: absolute;
		/* left: 50%; */
		/* top: 50%; */
		/* transform: translate(-50%, -50%); */
		/* justify-content: center;
		align-content: center;
		align-items: center; */
		margin: auto;
		width: 100%;
	}

	#popup {
		display: none;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		padding-top: 64px;
		background-color: rgba(0, 0, 0, 0.4);
		width: 100%;
		height: 100%;
	}
}

#image {
	width: 100%;
	margin: 5px;
	height: auto;
}

.like, .comment {
	height: 25px;
	width: 25px;
	float: left;
	transition: transform .2s;
	z-index: 2;
}

.like:hover, .comment:hover {
	transform: scale(1.2);
	cursor: pointer;
	z-index: 3;
}

.popupImage {
	width: 100%;
}

.likes, .comments {
	height: 20px;
	width: 20px;
	float: left;
}

#commentBox {
	max-height: 100%;
	padding: 0;
}

#allComments {
	overflow: scroll;
}

input[type=text], input[type=submit] {
	width: 90%;
	margin: 5px;
}

#imageBox {
	padding: 0px;
}

.commentButton {
	background-color: white;
}

.close {
	color: #aaaaaa;
	font-size: 28px;
	font-weight: bold;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2;
	position: absolute;
}

.pagination {
	display: block !important;
	width: 100%;
}

.pagination li {
	float: left;
	display: block;
}